h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 30vmin;
  color: #fff;
}

.main, .overlay {
  height: 100vh;
  width: 100vw;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
}
