.title {
  margin: auto;
}

h1 {
  text-align: center !important;
  font-size: 10vmin;
  font-weight: 700;
  font-family: "Noto Sans JP";
  color: #fff;
  display: block;
}

h2 {
  text-align: center !important;
  font-size: 5vmin;
  font-weight: 700;
  font-family: "Noto Sans JP";
  color: #fff;
  display: block;
}

h3 {
  text-align: center !important;
  font-size: 4vmin;
  font-weight: 700;
  font-family: "Noto Sans JP";
  color: #fff;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  font-family: "Noto Sans JP";
  font-size: 3vmin;
  font-weight: 600;
  color: #fff;
  display: block;
  width: 100%;
}

.name {
  font-family: "Noto Sans JP";
  font-size: 2vmin;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 60vmin;
  padding: 1vmin;
  margin: 10vmin 0;
  border: 0.75vmin solid;
  border-radius: 1000px;
  display: block;
  transition: color, background-color 0.5s;
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.name {
  font-family: "Noto Sans JP";
  font-size: 2vmin;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 60vmin;
  padding: 1vmin;
  margin: 10vmin 0;
  border: 0.75vmin solid;
  border-radius: 1000px;
  display: block;
  transition: color, background-color 0.5s;
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.main {
  width: 100vw;
  height: 100vmin;
  min-height: 100vh;
  background-color: #e45a22;
  align-items: center;
  padding: 10vmin 0;
}

.button {
  font-family: "Noto Sans JP";
  font-size: 2vmin;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 30vmin;
  padding: 1vmin;
  margin: 0vmin 1vmin 10vmin 1vmin;
  border: 0.75vmin solid;
  border-radius: 1000px;
  display: inline-block;
  transition: color, background-color 0.5s;
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}

.button:hover {
  background-color: #fff;
  border-color: #fff;
  color: #e45a22;
}

.result {
  text-align: center;
}

.icon a {
  transform: 0 0;
  position: fixed;
  top: 5vmin;
  left: 5vmin;
  font-family: "Noto Sans JP";
  font-size: 10vmin;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}

h5 {
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 2vmin;
  font-weight: 600;
  color: #fff;
}

.link {
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 2vmin;
  font-weight: 600;
  color: #fff;
  margin-top: 10vmin;
}

.link a {
  text-decoration: none;
  color: #fff;
}

.link a:hover {
  text-decoration: underline;
  color: #fff;
}

.button-list {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

