body {
  margin: 0;
  padding: 0;
  background-color: #e45a22;
}

h1 {
  color: #fff;
  font-family: "Noto Sans JP";
  font-size: 10vmin;
  font-weight: 700;
  text-align: center !important;
}

.button, .comingsoon {
  background-color: transparent;
  border-color: #fff;
  border-radius: 1000px;
  border: 0.75vmin solid;
  color: #fff;
  display: block;
  font-family: "Noto Sans JP";
  font-size: 2vmin;
  font-weight: 600;
  margin:2vmin auto;
  padding: 1vmin;
  text-align: center;
  text-decoration: none;
  transition: color, background-color 0.5s;
  vertical-align: middle;
  width: 60vmin;
}

.button-list {
  margin: auto;
}

.button:hover {
  background-color: #fff;
  border-color: #fff;
  color: #e45a22;
}

.button{
  cursor: pointer;
}

.comingsoon{
  cursor: default;
}

.icon a {
  cursor: pointer;
  font-family: "Noto Sans JP";
  font-size: 10vmin;
  font-weight: 600;
  left: 5vmin;
  position: fixed;
  text-align: center;
  text-decoration: none;
  top: 5vmin;
  transform: 0 0;
  vertical-align: middle;
}

.main {
  align-items: center;
  display: flex;
  margin: 10vmin 0;
  min-height: 100vh;
  width: 100%;
}

.text {
  margin: auto;
}

.title {
  margin: auto;
}
